<div class="user-nav">
  <div class="logo">
    <p class="logo-link">
      <img src="{{ currentUser.image }}" alt="user-profile-picture" />
      <span>@{{ currentUser.login }}</span>
    </p>
  </div>
</div>

<div class="repositories">
  <!-- child -->
  <div class="single" *ngFor="let repo of repositories">
    <div *ngIf="repo === bestRepository; then mostForked; else normal"></div>
    <ng-template #mostForked>
      <div class="most-forked" appHighlight>
        <div class="header">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
            />
          </svg>
          <h3 class="title">{{ repo.name }}</h3>
        </div>
        <div class="description">
          <p>
            {{ repo.description }}
          </p>
        </div>
        <div class="footer">
          <a href="{{ repo.html_url }}" target="blank"> Repo-link </a>
          <a
            *ngIf="repo.homepage != ''"
            href="{{ repo.homepage }}"
            target="blank"
          >
            Live link
          </a>
        </div>
      </div>
    </ng-template>

    <ng-template #normal>
      <div>
        <div class="header">
          <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
            />
          </svg>
          <h3 class="title">{{ repo.name }}</h3>
        </div>
        <div class="description">
          <p>
            {{ repo.description }}
          </p>
        </div>
        <div class="footer">
          <a href="{{ repo.html_url }}" target="blank"> Repo-link </a>
          <a
            *ngIf="repo.homepage != ''"
            href="{{ repo.homepage }}"
            target="blank"
          >
            Live link
          </a>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="more">
  <a href="{{ currentUser.url }}?tab=repositories" target="blank"
    >More Repositories</a
  >
</div>
