@import "../../../mixins";

.user-nav {
  padding: 2% 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include laptop {
    margin-top: 3%;
  }
  @include mobile {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.logo .logo-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8vw;
}

.logo .logo-link img {
  width: 3vw;
  border-radius: 50%;
  margin-right: 10%;
  @include laptop {
    width: 5vw;
  }
  @include tablet-pro {
    width: 5vw;
  }
  @include tablet {
    width: 7vw;
  }
  @include mobile {
    width: 15vw;
  }
}

.logo .logo-link span {
  color: #dcdddd;
  font-size: 0.8vw;
  cursor: pointer;
  @include laptop {
    font-size: 1.1vw;
  }
  @include tablet-pro {
    font-size: 1.5vw;
  }
  @include tablet {
    font-size: 2vw;
  }
  @include mobile {
    font-size: 3.2vw;
  }
}

.logo .logo-link span:hover {
  color: #009ff6;
}

.repositories {
  padding: 0 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.single {
  width: 27%;
  height: 18vw;
  border-radius: 0.5vw;
  border: 0.1vw solid #009ff6;
  padding: 3%;
  margin: 2.5% 1%;
  overflow: auto;
  @include tablet-pro {
    width: 47%;
    height: 20vw;
  }
  @include tablet {
    width: 47%;
    height: 27vw;
  }
  @include mobile {
    margin: 10% 0;
    width: 100%;
    height: 50vw;
    border-radius: 1vw;
    padding: 7%;
  }
  .all-that {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.single::-webkit-scrollbar {
  display: none;
}

.single .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: flex-start;
}
.single svg {
  width: 2.5vw;
  height: 2.5vw;
  color: #009ff6;
  margin-right: 5%;
  position: absolute;
  margin-top: -3%;
  margin-left: -3%;
  z-index: 5;
  background-color: #1c1d21;
  @include mobile {
    margin-top: -7%;
    margin-left: -7%;
    width: 7.5vw;
    height: 7.5vw;
  }
}

.single .header .title {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  color: #009ff6;
  font-size: 1.1vw;
  @include laptop {
    font-size: 1.2vw;
  }
  @include tablet-pro {
    font-size: 1.6vw;
  }
  @include tablet {
    font-size: 2vw;
  }
  @include mobile {
    font-size: 4vw;
  }
}

.single .description p {
  color: #dcdddd;
  padding: 2% 0;
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
  line-height: 1.5vw;
  @include laptop {
    font-size: 0.9vw;
  }
  @include tablet-pro {
    line-height: 2vw;
    font-size: 1.2vw;
  }
  @include tablet {
    line-height: 2.5vw;
    font-size: 1.7vw;
  }
  @include mobile {
    line-height: 5.5vw;
    font-size: 3vw;
  }
}

.single .all-that .footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.single .footer a {
  text-decoration: none;
  color: #009ff6;
  font-size: 0.9vw;
  letter-spacing: 0.05vw;
  font-weight: 500;
  @include laptop {
    font-size: 0.9vw;
  }
  @include tablet-pro {
    line-height: 2vw;
    font-size: 1.2vw;
  }
  @include tablet {
    line-height: 2.5vw;
    font-size: 1.7vw;
  }
  @include mobile {
    line-height: 5.5vw;
    font-size: 3vw;
  }
}

.single .footer a:hover {
  color: #6bcbff;
}

.more {
  width: 100%;
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vw;
}

.more a {
  text-decoration: none;
  text-align: center;
  background-color: #009ff6;
  color: #dcdddd;
  border: none;
  border-radius: 0.2vw;
  outline: none;
  padding: 1% 2%;
  font-size: 0.8vw;
  font-weight: 500;
  @include laptop {
    font-size: 0.9vw;
  }
  @include tablet-pro {
    line-height: 2vw;
    font-size: 1.2vw;
  }
  @include tablet {
    line-height: 2.5vw;
    font-size: 1.7vw;
  }
  @include mobile {
    line-height: 5.5vw;
    font-size: 3vw;
    padding: 2% 3%;
    border-radius: 0.5vw;
  }
}

.most-forked {
  padding: 10%;
  height: 100%;
  border-radius: 0.5vw;
}
