<app-header></app-header>
<div class="user-nav">
  <div class="logo">
    <p class="logo-link">
      <img src="../../../assets/sam.jpeg" alt="user-profile-picture" />
      <span>@thesmartcoder7</span>
    </p>
  </div>
</div>

<div class="repositories">
  <!-- child -->
  <div class="single">
    <div class="header">
      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
        />
      </svg>
      <a href="#"> Repo-link </a>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum
        mollitia quasi blanditiis suscipit omnis recusandae, officia assumenda
        voluptates, maiores ut, eligendi rem. Voluptatem, sed. Laborum illo
        quaerat cumque saepe!
      </p>
    </div>
    <div class="footer">
      <a href="#"> Live link </a>
    </div>
  </div>

  <!-- child -->
  <div class="single">
    <div class="header">
      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
        />
      </svg>
      <a href="#"> Repo-link </a>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum
        mollitia quasi blanditiis suscipit omnis recusandae, officia assumenda
        voluptates, maiores ut, eligendi rem. Voluptatem, sed. Laborum illo
        quaerat cumque saepe!
      </p>
    </div>
    <div class="footer">
      <a href="#"> Live link </a>
    </div>
  </div>

  <!-- child -->
  <div class="single">
    <div class="header">
      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
        />
      </svg>
      <a href="#"> Repo-link </a>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum
        mollitia quasi blanditiis suscipit omnis recusandae, officia assumenda
        voluptates, maiores ut, eligendi rem. Voluptatem, sed. Laborum illo
        quaerat cumque saepe!
      </p>
    </div>
    <div class="footer">
      <a href="#"> Live link </a>
    </div>
  </div>

  <!-- child -->
  <div class="single">
    <div class="header">
      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
        />
      </svg>
      <a href="#"> Repo-link </a>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum
        mollitia quasi blanditiis suscipit omnis recusandae, officia assumenda
        voluptates, maiores ut, eligendi rem. Voluptatem, sed. Laborum illo
        quaerat cumque saepe!
      </p>
    </div>
    <div class="footer">
      <a href="#"> Live link </a>
    </div>
  </div>

  <!-- child -->
  <div class="single">
    <div class="header">
      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
        />
      </svg>
      <a href="#"> Repo-link </a>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum
        mollitia quasi blanditiis suscipit omnis recusandae, officia assumenda
        voluptates, maiores ut, eligendi rem. Voluptatem, sed. Laborum illo
        quaerat cumque saepe!
      </p>
    </div>
    <div class="footer">
      <a href="#"> Live link </a>
    </div>
  </div>

  <!-- child -->
  <div class="single">
    <div class="header">
      <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M22 19V9a2 2 0 0 0-2-2h-6.764a2 2 0 0 1-1.789-1.106l-.894-1.788A2 2 0 0 0 8.763 3H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
        />
      </svg>
      <a href="#"> Repo-link </a>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum
        mollitia quasi blanditiis suscipit omnis recusandae, officia assumenda
        voluptates, maiores ut, eligendi rem. Voluptatem, sed. Laborum illo
        quaerat cumque saepe!
      </p>
    </div>
    <div class="footer">
      <a href="#"> Live link </a>
    </div>
  </div>
</div>
