<div class="container">
  <div class="user-image">
    <img
      src="../../../assets/version-control.svg"
      alt="github user version control"
    />
  </div>
  <div class="search-div">
    <h2>Find a user or a Repo</h2>
    <p>
      Search and find any user's <br />
      account or repository on GitHub.
    </p>
    <input #username type="text" placeholder="enter username or repository" />
    <div class="buttons">
      <!-- <button (click)="getUser(username.value)">user</button> -->
      <button (click)="globalUserSearch(username.value)">user</button>
      <button>repository</button>
    </div>
  </div>
</div>
