@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10%;
  width: 100%;
}

.user-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-image img {
  width: 30vw;
  opacity: 0.9;
}

.search-div {
  width: 50%;
  padding-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.search-div h2 {
  text-transform: capitalize;
  text-align: left;
  color: #dcdddd;
  font-size: 1.7vw;
}

.search-div p {
  color: #dcdddd;
  font-size: 1vw;
  margin-top: 2%;
}

.search-div input {
  padding: 1% 2%;
  margin-top: 5%;
  background-color: transparent;
  color: #acacac;
  outline: none;
  border: none;
  border-bottom: solid 0.15vw #009ff6;
  font-size: 0.8vw;
}

.search-div input::placeholder {
  text-transform: capitalize;
}

.search-div .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5%;
}
.search-div .buttons button {
  padding: 7% 15%;
  outline: none;
  border: none;
  background-color: #009ff6;
  color: #fff;
  font-size: 0.7vw;
  font-weight: 500;
  letter-spacing: 0.1vw;
  border-radius: 0.2vw;
  cursor: pointer;
  margin-right: 15%;
  text-transform: capitalize;
}

.items {
  width: 50%;
  height: 50vh;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  animation: appear 0.5s;
}

.items::-webkit-scrollbar {
  display: none;
}

.items .user-outer {
  width: 24%;
  display: flex;
  margin-right: 0.2vw;
  align-items: center;
  justify-content: center;
}

.items .user-outer .user {
  width: 100%;
  margin: 10% 5% 5% 5%;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .user-profile-image {
    width: 100%;
    height: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 0.5vw;
      cursor: pointer;
    }
  }
}

.items .user-details {
  width: 100%;
}

.items .user h3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #009ff6;
  font-size: 0.8vw;
  cursor: pointer;
  text-overflow: hidden;
  margin-top: 0.5vw;
}

.items .user p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dcdddd;
  font-size: 0.8vw;
  cursor: pointer;
  text-overflow: hidden;
  margin-top: 0.5vw;
}

.single-user {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  animation: appear 0.5s;
}

.single-user .user-info {
  width: 50%;
}

.single-user .user-info .img img {
  width: 15vw;
  border-radius: 0.7vw;
  cursor: pointer;
}

.single-user .user-info .info .handle {
  font-size: 1.1vw;
  margin-top: 3%;
  color: #dcdddd;
  cursor: pointer;
}

.single-user .user-info .info .handle:hover {
  color: #009ff6;
}

.single-user .user-info .info button {
  padding: 3% 6%;
  color: #dcdddd;
  background-color: #009ff6;
  font-size: 0.8vw;
  border: none;
  outline: none;
  border-radius: 0.2vw;
  margin-top: 10%;
  cursor: pointer;
  font-weight: 500;
}

.single-user .repo-info {
  width: 50%;
  text-align: left;
}

.single-user .repo-info h3 {
  color: #009ff6;
  font-size: 1.3vw;
  text-transform: capitalize;
}

.single-user .repo-info .stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.single-user .repo-info .stats div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5%;
  text-transform: capitalize;
}

.single-user .repo-info .stats div svg {
  color: #009ff6;
  margin-right: 10%;
  width: 1vw;
}

.single-user .repo-info p {
  color: #dcdddd;
  font-size: 0.8vw;
  line-height: 1.6vw;
  margin-top: 2%;
}

.single-user .repo-info p.back-link {
  color: #009ff6;
  cursor: pointer;
}

.single-user .repo-info a {
  text-decoration: none;
  color: #009ff6;
  font-size: 0.8vw;
  cursor: pointer;
  font-weight: 500;
}

.single-user .repo-info a:hover,
.single-user .repo-info p.back-link:hover {
  color: #5dc3fa;
}
