<div class="container">
  <div class="user-image" *ngIf="isRepositories === false && isUsers === false">
    <img
      src="../../../assets/version-control.svg"
      alt="github user version control"
    />
  </div>

  <!-- user profile search -->
  <div class="user-image items" *ngIf="isUsers === true">
    <div *ngFor="let user of globalUserReturn; let i = index">
      <div class="user">
        <img
          class="user-profile"
          src="{{ user.avatar_url }}"
          alt="user-profile"
          (click)="goToUser(i)"
        />
        <br />
        <p (click)="goToUser(i)">&nbsp;&nbsp;&nbsp;&nbsp;{{ user.login }}</p>
      </div>
    </div>
  </div>

  <!-- repositories search -->
  <div class="user-image items" *ngIf="isRepositories === true">
    <div *ngFor="let repo of globalRepoReturn">
      <div class="user">
        <img
          class="user-profile"
          src="{{ repo.owner.avatar_url }}"
          alt="user-profile"
        />
        <br />
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;{{ repo.name }}</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ repo.owner.login }}</p>
      </div>
    </div>
  </div>
  <div class="search-div">
    <h2>Find a user or a Repo</h2>
    <p>
      Search and find any user's <br />
      account or repository on GitHub.
    </p>
    <input #username type="text" placeholder="enter username or repository" />
    <div class="buttons">
      <button (click)="globalUserSearch(username.value)">user</button>
      <button (click)="globalRepositorySearch(username.value)">
        repository
      </button>
    </div>
  </div>
</div>
